# Cổng chạy ứng dụng (Mặc định: 3069)
PORT=3069

# Chuỗi bí mật dùng để mã hóa và giải mã JWT
ACCESS_TOKEN_SECRET=your_super_secret_access_token_key_here

# Chuỗi kết nối đến MongoDB
# Ví dụ MongoDB Atlas: mongodb+srv://<username>:<password_encoded>@<cluster_url>/<database_name>?appName=<app_name>
# Ví dụ MongoDB Local: mongodb://localhost:27017/cinema-booking
DATABASE_URL="mongodb://localhost:27017/cinema-booking"
